@import "variables.css";



/*Header*/
.header {
    gap: 1rem;
    padding: .5rem 0;
    height: auto;
    flex-direction: column;
}
.header__logo {
    font-size: var(--size-h4);
}
.header__lista {
    gap: 1rem;
}
.header__img {
    width: 20px;
}



/*Main*/
.main {
    align-items: center;
    height: auto;
    flex-direction: column;
}
.informacion {
    width: 100%;
}
.informacion__titulo {
    font-size: var(--size-h5);
}
.informacion__nombre {
    font-size: var(--size-h3);
}
.whatsapp__parrafo {
    font-size: var(--size-p);
}
.whatsapp__img {
    height: 20px;
}
.informacion__cargo {
    font-size: var(--size-h5);
    padding-bottom: 1rem;
}
.main__imagen {
    align-self: center;
    width: 50%;
}



/*Fortalezas*/
.fortalezas__titulo {
    font-size: var(--size-h5);
}
.fortalezas__contenedor-gral {
    grid-template-columns: 100%;
    gap: 2rem;
}
.fortalezas__contenedor-titulo {
    font-size: var(--size-h6);
}



/*Quien soy*/
.quiensoy {
    padding: 1.5rem 0;
}
.quiensoy__titulo {
    padding-bottom: 0;
}
.quiensoy__subtitulo {
    font-size: var(--size-h4);
}
.mobile-br {
    display: initial;
}
.quiensoy__parrafo {
    line-height: 1.5rem;
    padding-bottom: 0;
}
.quiensoy__contenedor-gral {
    grid-template-columns: 100%;
    justify-content: start;
    margin-top: 1rem;
}
.quiensoy__contenedor{
    width: 80%;
}
.quiensoy__contenedor-end{
    justify-self: end;
}



/*Trabajos*/
.trabajos {
    padding: 1.5rem 0;
}
.trabajos__titulo {
    text-align: center;
}
.trabajos__contenedor-gral {
    grid-template-columns: 100%;
}



/*Contacto*/
.contacto {
    padding: 1.5rem 0;
    flex-direction: column;
}
.contacto__info {
    width: 100%;
}
.contacto__info-titulo {
    font-size: var(--size-h5);
}
.contacto__info-subtitulo {
    padding-bottom: 1.5rem;
}
.contacto__info-numero {
    padding-bottom: 1.5rem;
}
.contacto__form {
    padding: 2rem;
    width: 100%;
}



/*Footer*/
.footer__pagina, .footer__design, .footer__copy {
    font-size: var(--size-p-small);
}