@import "variables.css";



/*Main*/
.main {
    height: auto;
    flex-direction: column;
}
.main__imagen {
    align-self: flex-end;
}



/*Fortalezas*/
.fortalezas__contenedor-gral {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}



/*Quien soy*/
.quiensoy__contenedor-gral {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}
.tablet-br {
    display: initial;
}



/*Trabajos*/
.trabajos__contenedor-gral {
    grid-template-columns: 100%;
    gap: 2rem;
}



/*Presupuestos*/
.presupuestos__contenedor {
    flex-wrap: wrap;
    gap: 3rem;
}



/*Presupuesto Personalizado*/
.personalizado {
    padding: 1rem 0;
    font-size: var(--size-p-small);
}



/*Contacto*/
.contacto {
    flex-direction: column;
    gap: 1rem;
}
.contacto__info {
    width: 100%;
    padding: 2rem;
    flex-direction: column;
}
.contacto__form {
    width: 100%;
}



/*Footer*/
.footer__pagina-tablet {
    display: none;
}